server:
  port: 8080

spring:
  application:
    name: api-gateway
  security:
    oauth2:
      resource server:
        jwt:
          issuer-uri: http://localhost:8180/realms/tien #den tu realms nao // cai base cua khong gian realm trong keycloak
          jwk-set-uri: ${spring.security.oauth2.resource server.jwt.issuer-uri}/protocol/openid-connect/certs #biet

  cloud:
    gateway:
      routes:
        - id: storage_route
          uri: lb://storage-service
          predicates:
            - Path=/api/storage-service/**

        - id: iam_route
          uri: lb://iam-service
          predicates:
            - Path=/api/iam-service/**



eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 5
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registry-fetch-interval-seconds: 5
    fetch-registry: true
    register-with-eureka: true

springdoc:
  swagger-ui:
    urls:
      - name: Iam Service
        url: http://localhost:8081/v3/api-docs/iam_service
      - name: Storage Service
        url: http://localhost:8082/v3/api-docs/storage_service


